@model OrderDetail

<div id="header">
    <h2 class="text-dark py-2">Add Details for Order ID: @Model.OrderID</h2>
</div>
<div class="p-4">
    <form method="post" class="row">
        <div class="border p-3">
            <div class="form-floating py-2 col-12">
                <select asp-for="@Model.ProductID" asp-items="@ViewBag.ListProducts" class="form-control border-0 shadow">
                    <option disabled selected>--Select Product--</option>
                </select>
                <label asp-for="@Model.ProductID" class="ms-2"></label>
                <span asp-validation-for="@Model.ProductID" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.Quantity" class="form-control border-0 shadow" />
                <label asp-for="@Model.Quantity" class="ms-2"></label>
                <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
            </div>
            <div class="row pt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-dark form-control">Add</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="OrderDetails" asp-action="Index" asp-route-orderId="@Model.OrderID" class="btn btn-white btn-outline border form-control">
                        Back To List
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}